---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import Redux from "./icons/Redux.astro";
import TypeScript from "./icons/TypeScript.astro";
import Css3 from "./icons/Css3.astro";
import Link from "./icons/Link.astro";
import MongoDB from "./icons/Mongo.astro";
import Echarts from "./icons/Echarts.astro";
import Python from "./icons/Python.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  REDUX: {
    name: "Redux",
    class: "bg-[#3c024f] text-white",
    icon: Redux,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  CSS3: {
    name: "CSS3",
    class: "bg-[#003159] text-white",
    icon: Css3,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDB,
  },
  ECHARTS: {
    name: "Echarts",
    class: "bg-[#003159] text-white",
    icon: Echarts,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
};
const PROJECTS = [
  {
    title: "Oficina Móvil para Asesores ",
    description: [
      "Desarrollé una aplicación web con React.js y TypeScript que permite a los asesores de clientes operar desde cualquier ubicación con una oficina digital. ",
      "Implementé Redux para la gestión eficiente del estado y Tailwind CSS para un diseño responsivo y moderno. ",
      "Integré APIs para la validación de identidad, carga de documentos y firma digital.",
      "Optimizaciones en el rendimiento de la aplicación mejoraron la experiencia de usuario y redujeron el tiempo de procesamiento de solicitudes.",
    ],
    link: "",
    github: "",
    image: "",
    tags: [TAGS.REACT, TAGS.REDUX, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Dashboard de Métricas",
    description: [
      "Creé un sistema de visualización de datos con React.js y ECharts para monitorear indicadores de servicio. ",
      "Automatización del proceso de generación de reportes con Python y Flask, eliminando la dependencia de Google Sheets y Looker Studio. ",
      "Implementé una interfaz intuitiva que permite a los usuarios explorar y filtrar datos en tiempo real.",
    ],

    link: "",
    image: "",
    tags: [
      TAGS.REACT,
      TAGS.REDUX,
      TAGS.TYPESCRIPT,
      TAGS.CSS3,
      TAGS.MONGO,
      TAGS.ECHARTS,
      TAGS.PYTHON,
    ],
  },
  {
    title: "Sistema de Gestión de Embudos de Conversión ",
    description: [
      "Desarrollé una plataforma en React.js y Redux para la visualización y análisis de flujos de conversión en procesos comerciales.",
      "Integré datos en tiempo real desde APIs RESTful, permitiendo a los usuarios tomar decisiones basadas en métricas actualizadas. ",
      "Diseñé gráficos interactivos para mejorar la comprensión de los datos y su impacto en la toma de decisiones.",
    ],

    link: "",
    image: "",
    tags: [TAGS.REACT, TAGS.REDUX, TAGS.TYPESCRIPT, TAGS.CSS3],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        {image && (
          <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt="Recién llegado vs 5 años en Nueva Zelanda"
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
          </div>
        )}

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <p class="text-xs">Tecnologías utilizadas:</p>
            <ul class="mb-2 ml-5 flex flex-row flex-wrap  gap-2">
              {tags.map((tag) => (
                <li class="">
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400 ">
              {Array.isArray(description)
                ? description.map((descrip) => (
                    <ul class="list-disc">
                      <li>{descrip}</li>
                    </ul>
                  ))
                : { description }}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
